
<div class="row">
  <div class="col-sm-12">
    <div class="contact_contant sections">
      <div class="head_title text-center">

        <h2>Contactanos</h2>

        <div class="subtitle">

        </div>

        <div class="separator">
          <img src="<%= path_to_image('website/isologotipo/logo.jpg')%>">
        </div>

      </div><!-- End off Head_title -->
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-12">
          <div class="main_contact_info">
            <div class="row">
              <div class="contact_info_content">
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <div class="single_contact_info">
                    <div class="single_info_text">
                      <h3>Teléfonos</h3>
                      <div class="row">
                        <div class="col-sm-12 text-center">
                          <div class="col-xs-12 col-sm-10 col-sm-offset-1 visible-xs-block">
                            <div class="row">
                              <div class="col-xs-6 text-right">
                                <button type="button" class="btn btn-info btn-lg btn-phone">
                                  <i class="fa fa-whatsapp" aria-hidden="true"></i>
                                </button>
                              </div>
                              <div class="col-xs-6 text-left">
                                <button type="button" class="btn btn-info btn-lg btn-phone">
                                  <i class="fa fa-phone" aria-hidden="true"></i>
                                </button>
                              </div>
                            </div>
                          </div>
                          <div class="col-xs-12 visible-xs-block">
                            <h4>+54 9 261 512-4590</h4>
                          </div>
                          <div class="col-sm-12 hidden-xs text-center">
                            <h4 class="text-lowercase">
                              <i class="fa fa-whatsapp" aria-hidden="true"></i>
                              +54 9 261 512-4590
                            </h4>
                          </div>
                        </div>
                        <div class="col-sm-12 text-center">
                          <div class="col-xs-12 col-sm-10 col-sm-offset-1 visible-xs-block">
                            <div class="row">
                              <div class="col-xs-6 text-right">
                                <button type="button" class="btn btn-info btn-lg btn-phone">
                                  <i class="fa fa-whatsapp" aria-hidden="true"></i>
                                </button>
                              </div>
                              <div class="col-xs-6 text-left">
                                <button type="button" class="btn btn-info btn-lg btn-phone">
                                  <i class="fa fa-phone" aria-hidden="true"></i>
                                </button>
                              </div>
                            </div>
                          </div>
                          <div class="col-xs-12 visible-xs-block">
                            <h4>+54 9 261 592-3570</h4>
                          </div>
                          <div class="col-sm-12 hidden-xs text-center">
                            <h4>
                              <i class="fa fa-whatsapp" aria-hidden="true"></i>
                              +54 9 261 592-3570
                            </h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6">
                  <div class="single_contact_info">
                    <div class="single_info_text">
                      <h3>Correo electrónico</h3>
                      <div class="row">
                        <div class="col-xs-12 col-sm-12 text-center">
                          <h4>
                            <a href="mailto:ventas@bambusolar.com?subject=Consulta" class="text-lowercase">
                              <i class="fa fa-envelope-o" aria-hidden="true"></i>
                              info@bambusolar.com
                            </a>
                          </h4>
                        </div>
                        <div class="col-xs-12 col-sm-12 text-center">
                          <h4>
                            <a href="mailto:ventas@bambusolar.com?subject=Consulta%20de%20Precios" class="text-lowercase">
                              <i class="fa fa-envelope-o" aria-hidden="true"></i>
                              ventas@bambusolar.com
                            </a>
                          </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <div class="single_contact_info">
                    <div class="single_info_text">
                      <h3>Facebook</h3>
                      <div class="row">
                        <div class="col-sm-12 text-center">
                          <a href="http://www.facebook.com/bambusolar">
                            <h4 class="text-lowercase">
                              <i class="fa fa-facebook" aria-hidden="true"></i>
                              www.facebook.com/bambusolar
                            </h4>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <div class="single_contact_info">
                    <div class="single_info_text">
                      <h3>Tienda Mercado Libre</h3>
                      <a target="_blank" href="http://listado.mercadolibre.com.ar/_CustId_227447839">
                        <h4 class="text-center text-lowercase">
                          listado.mercadolibre.com.ar/_CustId_227447839
                        </h4>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12">
                  <div class="single_contact_info">
                    <div class="single_info_text">
                      <h3>Ubicación</h3>
                      <h4 class="text-center">Luján de Cuyo, Mendoza. CP: 5509 - Argentina.</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>